<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Um erro ocorreu</title>
    <!-- Google web fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


    <!-- The main CSS file -->
    <link href="assets/css/style_erro.css" rel="stylesheet" />
</head>

<body>
    <div class="center-sucesso">
        <div th:text="|Um erro ocorreu: ${erro}.|"></div>
    </div>

    <footer>
        <h2><i>© 2019 Built by Jesus & Marcelinho Cray Cray</i></h2>
        <div id="tzine-actions">
        </div>
    </footer>

</body>


</html>
