<form id="form_90540" class="appnitro" enctype="multipart/form-data" method="post" action="/processar">
    <div class="form_description">
        <h2>Sistema PPGI</h2>
        <p></p>
    </div>
    <ul>

        <li id="li_1">
            <label class="description" for="element_1">Arquivo de docentes </label>
            <div>
                <input id="element_1" name="files" class="element file" type="file" />
            </div>
        </li>
        <li id="li_2">
            <label class="description" for="element_2">Arquivo de veiculos </label>
            <div>
                <input id="element_2" name="files" class="element file" type="file" />
            </div>
        </li>
        <li id="li_3">
            <label class="description" for="element_3">Arquivo de publicações </label>
            <div>
                <input id="element_3" name="files" class="element file" type="file" />
            </div>
        </li>
        <li id="li_4">
            <label class="description" for="element_4">Arquivo de qualis </label>
            <div>
                <input id="element_4" name="files" class="element file" type="file" />
            </div>
        </li>
        <li id="li_5">
            <label class="description" for="element_5">Arquivo de regras </label>
            <div>
                <input id="element_5" name="files" class="element file" type="file" />
            </div>
        </li>
        <li id="li_6">
            <label class="description" for="element_6">Ano </label>
            <div>
                <input id="element_6" name="number" class="element text medium" type="text" maxlength="255"
                    value="" />
            </div>
        </li>

        <li class="buttons">
            <input type="hidden" name="form_id" value="90540" />

            <input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
        </li>
    </ul>
</form>
<!--
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Sistema PPGI</title>

		<'!-- Google web fonts -'->
		<link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel='stylesheet' />

		<'!-- The main CSS file -'->
		<link href="assets/css/style.css" rel="stylesheet" />
	</head>

	<body>
		<form id="upload" method="post" action="/processar" enctype="multipart/form-data">
			<div id="drop">
				Solte aqui

				<a>Procurar</a>
                <input type="file" name="files" multiple />
                <input type="file" name="files" multiple />
                <input type="file" name="files" multiple />
                <input type="file" name="files" multiple />
                <input type="text" name="number">
			</div>

			<ul>
				<'!-- The file uploads will be shown here -'->
			</ul>

		</form>

		<footer>
            <h2><a href="http://tutorialzine.com/2013/05/mini-ajax-file-upload-form/"><i>Tutorial:</i> Mini Ajax File Upload Form</a></h2>
            <div id="tzine-actions">
            </div>
        </footer>

		<'!-- JavaScript Includes -'->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="assets/js/jquery.knob.js"></script>

		<'!-- jQuery File Upload Dependencies -'->
		<script src="assets/js/jquery.ui.widget.js"></script>
		<script src="assets/js/jquery.iframe-transport.js"></script>
		<script src="assets/js/jquery.fileupload.js"></script>

		<'!-- Our main JS file -'->
		<script src="assets/js/script.js"></script>
	</body>
</html>
-->