<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Arquivos processados</title>
</head>
<body>
    <div th:text="|Os arquivos foram processados uasndo a regra de ${ano}|"></div><br>
    <a target="blank_" href="/1-recredenciamento.csv">Recredenciamento</a><br>
    <a target="blank_" href="/2-publicacoes.csv">Publicacoes</a><br>
    <a target="blank_" href="/3-estatisticas.csv">Estatisticas</a>
</body>
</html>