<!DOCTYPE html>
<html>

<head>
    <html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Arquivos processados</title>
        <!-- Google web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


        <!-- The main CSS file -->
        <link href="assets/css/style.css" rel="stylesheet" />
    </head>
</head>

<body>
    <div class="center-sucesso">
        <div th:text="|Os arquivos foram processados usando a regra de ${ano}:|"></div><br>
        <!-- <p style="height: px"></p> -->
        <a target="blank_" href="/1-recredenciamento.csv">Recredenciamento</a><br>
        <a target="blank_" href="/2-publicacoes.csv">Publicações</a><br>
        <a target="blank_" href="/3-estatisticas.csv">Estatísticas</a>
    </div>
</body>

</html>
